.authentication {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .container {
    gap: 20px;
    width: 100%;
    max-width: 500px;
    min-width: 335px;
    height: 500px;
    background-color: #f2f2f2;
    box-shadow:  20px 20px 40px #bebebe;    
    border-radius: .5em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      width: 300px;
      height: 60px !important;
    }

    .login {
      min-width: 300px;
    }

  }
}

@media screen and (max-width: 480px) {
  .authentication {
    .container {
      margin: 1rem;
      width: 100%;
    }
  }

}