#input-component {
  border-radius: 6px;
  border: 1px solid #9AC74ECC;
  height: 40px;
  width: 100%;

  max-width: 600px;

  input {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 100%;
    padding: 0.5rem;

    &:focus-visible {
      outline: none;
    }
  }
}