.button-component {
  display: flex;
  button {
    padding: 0 5px;
    
    border-radius: .5em;
    &:hover {
      background-color: #D3E4B0CC;
    }
  }

  
}

.confirm {
  background-color: #9AC74ECC;
  color: #333333;
}

.cancel {
  border: #c30000 1px solid;
  background-color: transparent;
  color: #c30000
}

.sm {
  height: 1.5rem;
}

.md {
  height: 2rem;
}

.lg {
  height: 2.5rem;
}