.main-content-module {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.section {
  padding: 1rem;
  width: 100vw;
  height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  overflow: overlay;
}


@media screen and (max-width: 480px) {
  .section {
    padding: .5rem;
    height: calc(100% - 215px);

  }

}